<div class="products-list-wrapper">
  <div class="bg"></div>
  <div class="products-list-filter">
    <mat-card-title class="title">FILTER BY</mat-card-title>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>SEARCH</mat-label>
        <input matInput type="search" placeholder="Search"  [(ngModel)]="searchModel" (keyup)="applySearch($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>CATEGORY</mat-label>
      <mat-select [(ngModel)]="categoryModel">
        <mat-option *ngFor="let ct of categoriesList" [value]="ct.id">{{ct.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>MANUFACTURER</mat-label>
      <mat-select  [(ngModel)]="manufacturerModel" >
        <mat-option *ngFor="let m of manufacturersList" [value]="m">{{m}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <mat-form-field appearance="fill">
      <mat-label>COUNTRY</mat-label>
      <mat-select  [(ngModel)]="countryModel" >
        <mat-option *ngFor="let c of countriesList" [value]="c">{{c}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br />

    <div class="product-price">
      <mat-card-subtitle class="available">PRICE</mat-card-subtitle>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>From</mat-label>
          <input matInput [(ngModel)]="minprice" type="number" value="{{minPrice}}" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>To</mat-label>
          <input matInput [(ngModel)]="maxprice" type="number" value="{{maxPrice}}"/>
        </mat-form-field>
      </div>
    </div>
    <br />

    <div class="products-list-btns">
      <button mat-button (click)="onReset()">Reset</button>
      <button mat-raised-button color="primary" (click)="onFilter()" >Apply</button>
    </div>

  </div>
  <div class="products-list">
    <div class="titles">
      <div class="modal-icon">
        <i class="fas fa-shopping-basket"></i>
      </div>
      <mat-card-title class="title">PRODUCTS</mat-card-title>
      <hr>
    </div>
<!--    <mat-progress-spinner class = "loader" *ngIf = "isLoading" ></mat-progress-spinner>-->
    <mat-spinner *ngIf = "isLoading" ></mat-spinner>
    <div class="list" *ngIf = "!isLoading">
      <mat-card class="product-card" *ngFor="let good of goods">
                <img mat-card-sm-image src="{{good.photo}}" [routerLink]="['/goods',good.id]">
                <mat-card-header>
                  <div>
                    <mat-card-title>{{good.name}}</mat-card-title>
                  </div>
                  <div>
                    <mat-card-subtitle>${{good.price}}</mat-card-subtitle>
                    <mat-card-subtitle>
                      <button mat-icon-button (click)="onCartClick(good)">
                        <mat-icon class="fas fa-shopping-cart">shopping_cart</mat-icon>
                      </button>
                    </mat-card-subtitle>
                  </div>
                </mat-card-header>
              </mat-card>
    </div>
    <h2 *ngIf="goods.length <= 0 "> No goods yet </h2>
    <mat-paginator *ngIf="goods.length > 0 && !isLoading"
                   [length]="maxPages * goodsPerPage"
                   [pageSize]="goodsPerPage"
                   [pageIndex]="currentPage"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="onChangePage($event)"></mat-paginator>

  </div>
</div>
