.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn-container {
  padding-top: 20px;
}

.header {
  font-weight: normal;
  margin-top: 0;
}

.dialog-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
