<mat-drawer-container class="filters-container">
  <mat-drawer #drawer class="filters-sidenav" mode="side" fxLayout="column" >
    <div fxLayout="row">
    <p fxLayout="column"> FILTER BY </p>
      <span class="example-spacer"></span>
      <button type="button" mat-button (click)="drawer.toggle(); showFilters=!showFilters">
      <mat-icon>dehaze</mat-icon>
    </button>
    </div>
<!--    <div fxLayout="column" fxLayoutAlign="center">-->
    <mat-form-field fxLayout="row">
      <mat-label>Country</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let country of countriesList" [value]="country">{{country}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxLayout="row">
      <mat-label>Manufacturer</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let manufacturer of manufacturersList" [value]="manufacturer">{{manufacturer}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxLayout="row">
      <mat-label>Price</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
<!--    </div>-->
  </mat-drawer>

  <button *ngIf="showFilters" type="button" mat-button (click)="drawer.toggle(); showFilters=!showFilters">
    <mat-icon>dehaze</mat-icon>
  </button>

  <div class="filter-sidenav-content">

  </div>

</mat-drawer-container>
