.categories-wrapper {
  padding: 50px 5%;
  display: flex;
  flex-direction: column;
  .categories-title {
    .loader{
      left: 47%;
    }
    text-align: center;
    hr {
      width: 200px;
    }
  }
  .categories-list {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .category-item {
      padding-top: 40px;
      width: 350px;
      .category-title {
        border-radius: 5px 5px 5px 5px;
        padding: 15px 15px 15px 15px;
        background-color: #b794f6;
        text-align: center;
      }
      .category-description {
        background-color: #efe5fd;
        border-radius: 0px 0px 5px 5px;
        padding: 5px 15px 10px 15px;
        text-align: justify;
      }
    }
  }
}

@media (max-width: 768px) {
  .categories-list {
    padding-top: 0px !important
  }
}
