  <mat-toolbar>
    <mat-toolbar-row>
      <p class="mat-display-1 shop-title" routerLink="/">KMADrugStore</p>
      <span class="example-spacer"></span>
      <mat-chip-list class="shopping-card-row">
        <button mat-icon-button class="shopping-cart-icon" routerLink="/shopping-cart">
          <mat-icon>shopping_cart</mat-icon>
        </button>
        <mat-chip lass="shopping-cart-n" >{{cartLenght}}</mat-chip>
      </mat-chip-list>
      <div class="example-button-row" *ngIf="!isAuthed()">
        <button mat-button routerLink="/signin">Sign In</button> |
        <button mat-button routerLink="/signup">Sign Up</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isAuthed()">
        <img [matMenuTriggerFor]="menu" class="userIcon" src="../../assets/account.svg">
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/profile">My Account</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </div>

    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-button routerLink="/goods">Home</button>
      <button mat-button [matMenuTriggerFor]="catalog">Catalog</button>
      <mat-menu #catalog="matMenu">
        <button mat-menu-item routerLink="/categories">Categories</button>
        <button mat-menu-item routerLink="/goods">Goods</button>
      </mat-menu>
      <button mat-button routerLink="/kits">First Aid Kits</button>
      <button mat-button routerLink="/active">Active Component Search</button>
<!--      <button mat-button>Contacts</button>-->
      <span class="example-spacer"></span>
<!--      <form class="search-form">-->
<!--        <mat-form-field class="search-field">-->
<!--          <input matInput type="search" placeholder="Search"  [(ngModel)]="searchModel" (keyup)="applySearch($event)">-->
<!--          <mat-icon matSuffix>search</mat-icon>-->
<!--        </mat-form-field>-->
<!--      </form>-->
    </mat-toolbar-row>
  </mat-toolbar>

