<mat-spinner class = "loader" *ngIf = "isLoading"></mat-spinner>
<div class="product-wrapper" *ngIf="good !== undefined &&  !isLoading">
  <div>
    <mat-card-title-group>
      <img src="{{good?.photo}}"/>
    </mat-card-title-group>
    <mat-card-title-group class="block-info" fxLayout="column">
      <div>
        <mat-card-title>{{good?.name}}</mat-card-title>
        <mat-divider></mat-divider>
        <span>
          <mat-card-title class="price">${{good?.price}}</mat-card-title>
          <mat-card-subtitle class="available">Available</mat-card-subtitle>
        </span>
      </div>
      <div class="info">
        <mat-card-subtitle class="name">Manufacturer</mat-card-subtitle>
        <mat-card-title class="value">{{good?.manufacturer}}</mat-card-title>
      </div>
      <div class="info">
        <mat-card-subtitle class="name">Active component</mat-card-subtitle>
        <mat-card-title class="value"> {{good?.activeComponents[0].name}}</mat-card-title>
      </div>
      <div class="info">
        <mat-card-subtitle class="name">Quantity</mat-card-subtitle>
        <span>
          <div class="row">
            <button mat-icon-button color=""  >
              <mat-icon class="icon" (click)="onMinusClick()" >remove</mat-icon>
          </button>

          <input type="text" class="amount" [(ngModel)] = "value" name="val"/>
          <button mat-icon-button (click)=" onPlusClick()">
              <mat-icon class="icon">add</mat-icon>
          </button>

          </div>
          <button mat-flat-button color="primary" (click)="onCartClick(good)">Add to cart</button>
        </span>
      </div>
    </mat-card-title-group>
  </div>
  <div class="description">
    <div class="description-column">
      <button mat-flat-button color="primary">Description</button>
      <!-- <button mat-flat-button color="primary">Indications</button>
      <button mat-flat-button color="primary">Contrindications</button> -->
    </div>
    <div class="description-text">
      {{good?.description}}
    </div>
  </div>
</div>

